header{
    display: flex;
    justify-content: space-between;
}

.header-left__text {
    color:blue;
    font-size:4vw ;
    font-weight: bold;
    margin-top: 5%;

}

.header-right__nav{
    color: blue;
    font-weight: bold;
    text-decoration: none;
    margin:1vw;
}

.header-right{
    font-size: 2vw;
    margin: 44px;
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
    height:120%;
    width: 100%;
}

.main-box{
    z-index: 10;
    margin-right: 0;


}

img{
    margin: 0 0 0 auto;
    display: block;
    width: 60%;
    height: 35vw;
    z-index: 10;
}

.main-box__bottom{
    position: absolute;
    bottom:-20% ;
    height: auto;
    width: 80%;
}

.main-box__bottom-text{
    font-size: 5vw;
    font-weight:lighter;
    margin-bottom: 0%;
    margin-top: 0px;
    z-index: 0;
}

.main-box__bottom-box{
    background-color: blue;
    width:75%;
    height: 12vw;
    z-index: 0;
    margin-bottom: 1vw;
}